$transparentWhite: rgba(255, 255, 255, 0.35);
#buttonPrev {
	position: absolute;
   left: 34px;
   top: 540px;
	width: 80px;
	height: 80px;
	border: 4px solid #444;
	background: #30e068;
	border-radius: 50%;
    transform: translate(0px, 160px);
    transition: transform 1s 0s;
}
main.active #buttonPrev {
    transform: translate(0, 0px);
    transition: transform 1s 0.5s;
}
#buttonPrev:hover {
    background: #37f971;
}
#buttonPrev:after {
    content: '';
    position: absolute;
    left: -3px;
    top: 14px;
    height: 0%;
    width: 0%;
    border-right: 36px solid #fff;
    border-left: 16px solid transparent;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}

#printButton {
    position: absolute;
    left: 909px;
    top: 306px;
    width: 80px;
    height: 80px;
    border: 4px solid #444;
    background: url(../images/print_button.png);
    background-size: 74px 74px;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
        filter: hue-rotate(0deg) saturate(1.4);
    }
}

#slider-bgr {
    position: absolute;
    left: 790px;
    top: 123px;
    width: 88px;
    height: 438px;
    background: $transparentWhite;
    // background: rgba(255, 255, 255, 0.35);
    border-radius: 50px;
    border: 1px solid #000;
    overflow: hidden;
}
.spaceholder {
    position: static;
    width: 100%;
    height: 43px;
    left: 0;
    top: 0;
}
.line {
    position: static;
    width: 100%;
    height: 58.66px;
    left: 0;
    top: 0;
    border-top: 1px solid #333;
}

#slider {
    position: absolute;
    left: 807px;
    top: 188px;
    width: 84px;
    height: 352px;
}
#slider.ui-slider.ui-corner-all.ui-slider-vertical.ui-widget.ui-widget-content {
   background: none;
   border: none;
   border-radius-width: 0;
}
#slider .ui-slider-handle.ui-corner-all.ui-state-default {
  width: 68px;
  height: 68px;
  border: 2px solid #222;
  background: url('../images/input_slider.png');
  background-size: 68px 68px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
  transform: rotate(90deg);
  outline: none;

  &:hover {
    // background: #37f971;
    filter: hue-rotate(0deg) saturate(1.4);
  }
  &:after {
    content: '';
    position: relative;
    left: 0;
    top:0;
    width: 50px;
    height: 50px;
    background: magenta;
  }
}











